<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="css/auth.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
<div class="auth-container">
    <div class="login-contain">
        <img src="img/signup.png" alt="" class="signupimg">
  <div class="login-section">
    <h2>Login</h2>
    <form action="/login" method="post">
            <table>
                <tr>
                    <td>
                        <label for="">Email :</label>
                    </td>
                    <td>
                        <input type="email" name="email">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="">Password :</label>
                    </td>
                    <td><input type="text" name="password">
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <button type="submit">Login</button>
                    </td>
                </tr>
            
            </table>
            <p>Don't have an account? <span id="signupbtn">Signup</span></p>
        </form>
  </div>
    </div>
   <!-- signup contain -->  
    <div class="signup-contain">
        <img src="img/login.png" alt="" width="480px" class="loginimg">
        <div class="signup-section">
            <h2>Signup</h2>
        <form action="/signup" method="post" >
                <table>
                    <tr>
                        <td>
                            <label for="">Name :</label>
                        </td>
                        <td>
                            <input type="text" name="name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="">Age :</label>
                        </td>
                        <td>
                            <input type="number" name="age">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="">Email :</label>
                        </td>
                        <td>
                            <input type="email" name="email">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="">Password :</label>
                        </td>
                        <td><input type="text" name="password">
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <button type="submit">Signup</button>
                        </td>
                    </tr>
                
                </table>
                <p>Already have an account? <span id="loginbtn">Login</span></p>
            </form>
        </div>
            </div>

</div>

<script>

document.addEventListener("DOMContentLoaded",()=>{
    const signupbtn=document.querySelector('#signupbtn')
    const loginbtn=document.querySelector('#loginbtn')
    const loginimg=document.querySelector('.loginimg')
    const signupimg=document.querySelector('.signupimg')
    const signupsection=document.querySelector('.signup-section')
    const loginsection=document.querySelector('.login-section')

    signupbtn.addEventListener('click',()=>{
        
        if(signupimg.style.display=='none'){
            signupimg.style.display='block'
            loginsection.style.display='none'
            signupsection.style.display='block'
            loginimg.style.display='none'
        }
       else{
        signupimg.style.display='none'
        loginsection.style.display='block'
         signupsection.style.display='none'
            loginimg.style.display='block'
       }
    })

    loginbtn.addEventListener('click',()=>{
         signupimg.style.display='none'
         signupsection.style.display = 'none';
        loginimg.style.display = 'block';
        loginsection.style.display = 'block';
    })

})

</script>
</body>
</html>