:root {
    --primary-color: #3A7CA5; /* Navy Blue */
    --secondary-color: #F4A261; /* Sandy Orange */
    --background-color: #F5F5F5; /* Light Gray */
    --text-color: #333333; /* Dark Gray */
    --accent-color: #2A9D8F; /* Teal Green */
    --button-color: #E76F51; /* Coral */
    --hover-color: #264653; /* Deep Teal */
    --border-color: #8B8B8B; /* Slate Gray */
}
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box !important;
    outline: none !important;
}
html{
    scroll-behavior: smooth;
}